@{
    ViewData["Title"] = "Accueil";
}


<div class="container" style="padding: 0; margin: 0">
    <div style="width:60%;  text-align:center; margin-left:20%; margin-top:15%; margin-bottom:15%">
        <h2 class="text-info">Affichage des nombres et couleurs celon le nombre divisible, pour commencer allez dans Numero et couleur !</h2>
    </div>

</div>